@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: none;
}

.section {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  margin-top: 4rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  height: 100vh;
  width: 100vw;
}

pre {
  background: #444;
  color: #FFF;
  font-family: "Roboto Mono" monospace;
  font: weight 700;
  padding: 10px 20px;
  margin: 0 20px 20px;
  width: 100%;
}

pre::before {
  content: ">_ ";
}

/* This is the profile picture component.
It's circular with colorshifting background. 
*/
#profile-color-layer {
  /* Outer wrapper div - defines size and starting colors */
  border-radius: 50%;
  overflow: hidden;
  width: 60vmin;
  height: 60vmin;
  border: 1px #FFF solid;
  background: linear-gradient(225deg, #61dbfb 30%, rgba(97, 219, 251, 0) 65%), linear-gradient(90deg, rgba(110, 148, 250, 0.8) 10%, rgba(110, 148, 250, 0.3) 65%);
}

@media screen and (max-width: 450px) {
  #profile-color-layer {
    width: 90vmin;
    height: 90vmin;
  }
}
#hue-rotate-layer {
  /* Animation layer. Transparent. Contains the profile picture. */
  /* Applies backdrop-filter(hue-rotation) --to wrapper layer below-- */
  width: 101%;
  height: 101%;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  animation: hue-rotate 60s linear 5s infinite backwards;
}

@keyframes hue-rotate {
  0% {
    -webkit-backdrop-filter: hue-rotate(0deg);
    backdrop-filter: hue-rotate(0deg);
  }
  100% {
    -webkit-backdrop-filter: hue-rotate(359deg);
    backdrop-filter: hue-rotate(359deg);
  }
}
/* Profile img. Transparent bg. */
#hue-rotate-layer img {
  background: transparent;
  /* custom position relative to container to center pictuure. */
  position: relative;
  top: 15%;
  height: 105%;
}

.typed-cursor {
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}

@keyframes typedjsBlink {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#about-me {
  background-color: none;
}

h1 {
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}

.header {
  width: 100vw;
  height: 4rem;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  border-bottom: 0.1rem solid #3e68da;
  color: #3e68da;
  z-index: 1000;
}
.header a {
  text-decoration: none;
  color: #3e68da;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.logo {
  margin-left: 0.5rem;
  color: #3e68da;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.1rem;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.contact h3 {
  margin-right: 1rem;
  font-size: 1rem;
}

.header-icon {
  height: 2rem;
  width: 2rem;
  color: currentColor;
  margin: 0 0.5rem;
}

@media screen and (max-width: 750px) {
  .contact h3 {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .logo {
    font-size: 2em;
  }
}
@media screen and (max-width: 300px) {
  .contact {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
