@use '../../utilities' as *;
@forward 'profile-pic';
@forward 'typed';

#about-me {
    background-color: none;    
}
h1 {
    font-size: 2rem; 
    margin: 1rem;
    text-align: center;
}

#chevron {
    color: $primary-color;
    width: auto;
    height: 5rem;
}
