//global variables //

$header-height: 4rem;
$primary-color: hsl(224, 68%, 55%);

// mixins //

//This creates a flexbox, centered, implicit flexrow so can be changed.
@mixin flex-c-c {
  display: flex;
  justify-content: center;
  align-items:center;
}

// global and high-level settings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: none;
}

.section {
  width: 100%;
  margin: 0 auto;
  @include flex-c-c();
  flex-direction: column;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  margin-top: $header-height
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100vh;
  width: 100vw;
}