//global variables //

$header-height: 50px;
$primary-color: hsl(224, 68%, 55%);

// mixins //

//This creates a flexbox, centered, implicit flexrow so can be changed.
@mixin flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

// global and high-level settings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: none;
}

.main {
  height: calc(100% - 50px);
  position: relative;
  top: 50px;
}
.section {
  width: 100%;
  min-height: 90vh;
  padding: $header-height 5px 5px;
  @include flex-c-c();
  flex-direction: column;
  justify-content: space-between;

  a .chevron {
    text-decoration: none;
    color: $primary-color;
    width: 70px;
    height: auto;
    animation: blink 1s ease 0s infinite alternate-reverse;
  }
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

div#intro.section {
  padding-top: 5px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100vh;
  width: 100vw;
}
