@use '../../utilities' as *;

.header {
    width: 100vw;
    height: $header-height;
    position:fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    border-bottom: .1rem solid $primary-color;
    color: $primary-color;
    z-index: 1000;
}
.logo {
    
    margin-left: 0.5rem;
    color: $primary-color;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -0.1rem;
}

.contact {
@include flex-c-c;
flex-direction: row;
flex-wrap: nowrap;
    h3 {
        margin-right: 1rem;
        font-size: 1rem;
    }
}

.header-icon {
    height: 2rem;
    width: 2rem;
    color: currentColor;
    margin: 0 0.5rem;
}

@media screen and (max-width: 750px) {

.contact h3{ 
    display: none}
}
@media screen and (max-width: 400px) {

    .logo {
        font-size: 2em;
    }
    }

@media screen and (max-width: 300px) {

        .contact{ 
            display: none}
        }